In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel('Online Retail.xlsx')

In [3]:
print(df.head(10))
print("=====================")
print(df.info())
print("=====================")
print(df.describe())
print("=====================")

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
5    536365     22752         SET 7 BABUSHKA NESTING BOXES         2
6    536365     21730    GLASS STAR FROSTED T-LIGHT HOLDER         6
7    536366     22633               HAND WARMER UNION JACK         6
8    536366     22632            HAND WARMER RED POLKA DOT         6
9    536367     84879        ASSORTED COLOUR BIRD ORNAMENT        32

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
5 2010-12-01 08:26:00       7.65     17850.0  United Kingdom
6 2010-12-01 08:26:00       4.25     17850.0  United Kingdom
7 2010-12-01 08:28:00       1.85     17850.0  United Kingdom
8 2010-12-01 08:28:00       1.85     17850.0  United Kingdom
9 2010-12-01 08:34:00       1.69     13047.0  United Kingdom
=====================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB
None
=====================
            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000
=====================

In [4]:
indexC = []
dex = 0

for a in df['InvoiceNo'] :
    if type(a) != np.int :
        indexC.append(dex)
    dex = dex + 1
    
print(len(indexC))

9291

In [5]:
df=df.drop(index=indexC)

In [6]:
df = df.reset_index().drop(['index'], axis=1)
df['Count'] = df.groupby('CustomerID')['UnitPrice'].count()
df['PowerPurchasing'] = df['UnitPrice']*df['Quantity']

In [7]:
def slicing(value) :
    if type(value) == np.int :
        return str(value)[:3]
    return value[:3]

In [8]:
df['StockCode'] = df['StockCode'].apply(slicing)

In [9]:
product = pd.get_dummies(df['StockCode'])
country = pd.get_dummies(df['Country'])

In [10]:

df = df.drop(['InvoiceNo', 'StockCode', 'Description', 'InvoiceDate', 'Country'], axis=1)

In [11]:
df = pd.concat([df, product, country], axis=1)

In [12]:
df = df.groupby('CustomerID').sum()

In [14]:
df['Count']

CustomerID
12346.0       0.0
12347.0    1754.0
12348.0       0.0
12349.0       0.0
12350.0       0.0
12352.0       0.0
12353.0       0.0
12354.0       0.0
12355.0       0.0
12356.0       0.0
12357.0       0.0
12358.0       0.0
12359.0       0.0
12360.0       0.0
12361.0       0.0
12362.0       0.0
12363.0       0.0
12364.0       0.0
12365.0       0.0
12367.0       0.0
12370.0       0.0
12371.0       0.0
12372.0       0.0
12373.0       0.0
12374.0       0.0
12375.0       0.0
12377.0       0.0
12378.0       0.0
12379.0       0.0
12380.0       0.0
            ...
18242.0       0.0
18245.0       0.0
18246.0       0.0
18248.0       0.0
18249.0       0.0
18250.0       0.0
18251.0       0.0
18252.0       0.0
18255.0       0.0
18257.0       0.0
18259.0     299.0
18260.0       0.0
18261.0       0.0
18262.0       0.0
18263.0       0.0
18265.0       0.0
18268.0       0.0
18269.0     236.0
18270.0       0.0
18272.0       0.0
18273.0       0.0
18274.0       0.0
18276.0       0.0
18277.0       0.0
18278.0       0.0
18280.0       0.0
18281.0       0.0
18282.0       0.0
18283.0       0.0
18287.0       0.0
Name: Count, Length: 4339, dtype: float64